html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Unbounded", sans-serif;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#title {
	position: absolute;
	margin-left: 10px;
	font-size: 2.5em;
    font-weight: 900;
}

#score {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 1.75em;
  font-weight: 900;
}

#hiScore {
  position: absolute;
  top: 60px;
  right: 30px;
  font-size: 1.75em;
  font-weight: 900;
}

#introduction {
  width: 420px;
  height: 150px;
  position: absolute;
  font-weight: 700;
  font-size: 1.15em;
  font-family: "Unbounded", sans-serif;
  text-align: center;
  transition: opacity 2s;
}

#restart {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  color: white;
  background-color: red;
  border: none;
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Unbounded", sans-serif;
  display: none;
  cursor: pointer;
  margin-top: -50px;
}

#perfect {
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
}

/**************************************************************************** MOBILE *******************************************************************************************/
@media only screen and (min-device-width : 320px) and (max-device-width : 640px) {
	html, body {
		width: 100%;
		overflow: hidden;
	}
	
	#title {
	  font-size: 1em;
      font-weight: 900;
	}

	#score {
	  top: 30px;
	  right: 30px;
	  font-size: 0.75em;
	  font-weight: 900;
	}

	#hiScore {
	  top: 60px;
	  right: 10px;
	  font-size: 0.75em;
	  font-weight: 900;
	}

	#introduction {
	  font-size: 1.15em;
	  font-weight: 700;	  
	}

	#restart {
	  font-size: 0.25em;
	  font-weight: 700;	  
	}
}